@font-face {
  font-family: "Brandon Grotesque";
  src: url("../fonts/BrandonGrotesque-Regular.woff2") format("woff2"),
    url("../fonts/BrandonGrotesque-Regular.woff") format("woff"),
    url("../fonts/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
