$white: #fff;
$black: #000;
$grey: #bbafaf;
$primary-button: #215184;
$primary-background: #282c34;
$font-family: "Brandon Grotesque", Arial, Helvetica, sans-serif;
$transition: 0.25s ease;
$breakpoint-tablet: 840px;
